In [114]:
import pandas as pd
import jieba

In [2]:
dz_df = pd.read_csv(u'GBT14396-2016.csv')
dz_df.head()

,SJBXX01,SJBXX02,PYM,SZM,WBM
0,A00.000,霍乱，由于O1群霍乱弧菌，霍乱生物型所致,HLYYO1QHLHJHLSWXSZ,1321O1513511333131,FTMGO1VFTXAFTTTGRG
1,A00.100,霍乱，由于O1群霍乱弧菌，埃尔托生物型所致,HLYYO1QHLHJAETSWXSZ,1321O15135113133131,FTMGO1VFTXAFQRTTGRG
2,A00.900,霍乱,HL,13,FT
3,A01.000,伤寒,SH,34,WP
4,A01.001+K77.0*,伤寒性肝炎,SHXGY,34234,WPNEO

In [4]:
dz_df['class'] = [i[:3] for i in dz_df['SJBXX01']]
dz_df.head()

,SJBXX01,SJBXX02,PYM,SZM,WBM,class
0,A00.000,霍乱，由于O1群霍乱弧菌，霍乱生物型所致,HLYYO1QHLHJHLSWXSZ,1321O1513511333131,FTMGO1VFTXAFTTTGRG,A00
1,A00.100,霍乱，由于O1群霍乱弧菌，埃尔托生物型所致,HLYYO1QHLHJAETSWXSZ,1321O15135113133131,FTMGO1VFTXAFQRTTGRG,A00
2,A00.900,霍乱,HL,13,FT,A00
3,A01.000,伤寒,SH,34,WP,A01
4,A01.001+K77.0*,伤寒性肝炎,SHXGY,34234,WPNEO,A01

In [12]:
dzclass_df = pd.DataFrame(dz_df[['class', 'SJBXX02']].values,columns=['class','name'])
dzclass_df.head()

  class                   name
0   A00   霍乱，由于O1群霍乱弧菌，霍乱生物型所致
1   A00  霍乱，由于O1群霍乱弧菌，埃尔托生物型所致
2   A00                     霍乱
3   A01                     伤寒
4   A01                  伤寒性肝炎

In [109]:
g = dzclass_df.groupby('class')
nitems_eachclass = g.size().values
# nitems_eachclass
# print(g.size())

In [46]:
classset = set(dzclass_df['class'].values)
print('疾病共 % d 类' % len(classset))

疾病共  2047 类

In [108]:
classlist = sorted(list(classset))
# print(classlist)

In [115]:
# strlist = []
# for index in classlist:
#     localstrlist = dzclass_df['name'][dzclass_df['class']==index].values
#     tempstr = ''
#     for s in localstrlist:
#         tempstr += s
#     strlist.append(tempstr)
# print(strlist)
# print(len(strlist))

In [116]:
print(len(classlist))
dzclass_df = dzclass_df.sort_values(by=['class'])  
# 因为之前对class 进行了排序,得到的nitems_eachclass是class排序后的对应结果, 所以这里要对dzclass_df重新排序
# dzclass_df

2047

In [113]:
'''较为快速的实现, 比上个版本快5倍'''
strlist = []
start_index = 0
for index in nitems_eachclass:
    localstrlist = dzclass_df['name'][start_index:start_index+index].values
    tempstr = ''
#     print(localstrlist)
    for s in localstrlist:
        tempstr += ' ' + s
    strlist.append(tempstr.strip())
    start_index += index
# print(strlist)
print(len(strlist))

2047

In [118]:
strlist[0]

'霍乱，由于O1群霍乱弧菌，霍乱生物型所致 霍乱，由于O1群霍乱弧菌，埃尔托生物型所致 霍乱'

In [124]:
from collections import Counter
seg_list = jieba.cut(strlist[0])
c = Counter()
for x in seg_list:
#     print(x)
    if len(x)>1 and x != '\r\n':  # 除去单字符以及换行(\r把光标移动到行首)
        c[x] += 1
print(c)

Counter({'霍乱': 4, '由于': 2, 'O1': 2, '霍乱弧菌': 2, '生物': 2, '所致': 2, '埃尔托': 1})